@use "mixins" as *;

.align-content-center {
  align-content: center;
}
.background-blur {
  backdrop-filter: blur(25px);
}
.column-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  .wp-block-image {
    border-top: solid 1px var(--wp--preset--color--light-grey);
    padding: var(--wp--preset--spacing--24);
    @media (max-width: 781px) {
      border-top: none;
    }
  }
}
.media-text-image-square-48 {
  grid-template-columns: 48px auto !important;
  .wp-block-media-text__content {
    padding-right: 0;
    padding-left: 0.5rem;
  }
}
.recently-added-machines {
  &-list {
    > li {
      padding-right: var(--wp--preset--spacing--24);
      padding-left: var(--wp--preset--spacing--24);
      &:nth-child(1) {
        padding-top: var(--wp--preset--spacing--24);
        padding-bottom: var(--wp--preset--spacing--24);
      }
      &:nth-child(2) {
        border-top: solid var(--wp--preset--color--light-grey) 1px;
        border-bottom: solid var(--wp--preset--color--light-grey) 1px;
        padding-top: var(--wp--preset--spacing--24);
        padding-bottom: var(--wp--preset--spacing--24);
      }
      &:nth-child(3) {
        padding-top: var(--wp--preset--spacing--24);
        padding-bottom: var(--wp--preset--spacing--24);
      }
    }
  }
  @media (max-width: 1200px) {
    &.wp-block-columns.is-not-stacked-on-mobile {
      flex-wrap: wrap !important;
      row-gap: 0;
      li {
        border: none;
      }
      > div {
        flex-basis: 100% !important;
        &:first-child {
          padding-top: var(--wp--preset--spacing--48) !important;
          padding-bottom: var(--wp--preset--spacing--24) !important;
        }
      }
    }
    .machine-card-image + .wp-block-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (max-width: 781px) {
    .machine-card-image {
      padding-bottom: 0 !important;
    }
  }
  @media (max-width: 680px) {
    .machine-card {
      flex-direction: column;
      row-gap: 0;
    }
  }
}
