@use "mixins" as *;

.align-content-center {
   align-content: center;
}
.background-blur {
   backdrop-filter: blur(25px);
}
.column-content-bottom {
   display: flex;
   flex-direction: column;
   justify-content: end;
   .wp-block-image {
      border-top: solid 1px var(--wp--preset--color--light-grey);
      padding: var(--wp--preset--spacing--24);
      @media (max-width: 781px) {
         border-top: none;
      }
   }
}
.height-full {
}
.media-text-image-square-48 {
   grid-template-columns: 48px auto !important;
   .wp-block-media-text__content {
      padding-right: 0;
      padding-left: 0.5rem;
   }
}
