footer {
   .wp-block-group-is-layout-flex {      
      @media (max-width: 820px) {         
         column-gap: 20px;
      }
      @media (max-width: 550px) {         
         column-gap: 0;
      }
      > .wp-block-group {
         &:nth-child(1) {
            width: 350px;
         }
         &:nth-child(2) {
            width: 200px;
         }
         &:nth-child(3) {
            width: 120px;
         }
         &:nth-child(4) {
            width: 400px;
         }
         @media (max-width: 820px) {
            flex-basis: 48%;
            width: unset !important;
         }
         @media (max-width: 550px) {
            flex-basis: 100%;
            width: unset !important;
         }
      }
   }
}
