@use "mixins" as *;

header {
   position: fixed;
   z-index: 10;
   width: 100%;

   > div {
      position: relative;
      &:before {
         content: "";
         backdrop-filter: blur(15px);
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
      }
   }
   .wp-block-site-logo .custom-logo-link,
   .wp-block-site-logo .custom-logo-link:hover {
      border-bottom: none !important;
   }
   svg path {
      -ms-transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in;
      transition: all 250ms ease-in-out;
   }
   &.light {
      background: rgba(255, 255, 255, 0.1);
      .custom-logo path {
         fill: #fff;
      }
      .wp-block-navigation__responsive-container-open svg path {
         stroke: #fff;
      }
   }
   &.dark {
      background: transparent;
      .custom-logo path {
         fill: #000;
      }
      .wp-block-navigation__responsive-container-open svg path {
         stroke: #000;
      }
   }

   .wp-block-buttons {
      .wp-block-button {
         &__link {
            background-color: var(--wp--preset--color--primary-orange);
            border-color: var(--wp--preset--color--primary-orange);
            color: var(--wp--preset--color--primary-dark-brown);
            font-size: var(--wp--preset--font-size--paragraph-small);
            letter-spacing: 4%;
            padding-right: 1.625rem;
            padding-left: 1.625rem;
            &:hover {
               background-color: var(--wp--preset--color--primary-orange);
               border-color: var(--wp--preset--color--primary-orange);
               color: var(--wp--preset--color--primary-dark-brown);
            }
         }
      }
   }
   button.wp-block-navigation__responsive-container-open {
      padding: 1.5rem;
   }
   .wp-block-navigation:not(.has-background) {
      .wp-block-navigation {
         &__responsive-container {
            &.is-menu-open {
               background-color: var(--wp--preset--color--primary-dark-brown);
            }
            &-close {
               right: 7px;
               top: 12px;
               svg {
                  path {
                     fill: var(--wp--preset--color--neutral-white);
                  }
               }
            }
         }
         &__container {
            width: 100%;
         }
         &__responsive-container-content {
            align-items: start;
            padding: 1.5rem;
            width: 100%;
            .wp-block-page-list {
               align-items: flex-start;
               gap: 0;
               width: 100%;
            }
         }
         &-item {
            align-items: flex-start !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0.75rem 0 !important;
            width: 100%;
            &__content {
               @include transition;
               color: var(--wp--preset--color--neutral-white);
               font-family: var(--wp--preset--font-family--pp-pangaia);
               font-size: 1.625rem;
               font-style: normal;
               font-weight: 400;
               line-height: 1;
               letter-spacing: 0.52px;
               &:hover {
                  @include transition;
                  color: var(--wp--preset--color--primary-orange);
               }
            }
         }
      }
   }
}
