@use "mixins" as *;

.main-carousel {
  figure {
    display: inline;
    margin: 0 !important;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.thumbnails-carousel {
  .splide__track--nav > .splide__list > .splide__slide {
    border: none;
    opacity: 0.6;
    &.is-active {
      border: none;
      opacity: 1;
    }
    figure {
      display: inline;
      margin: 0 !important;
      img {
        aspect-ratio: 3/2;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
.featherlight {
  &-inner {
    width: 100%;
  }
}