@use "mixins" as *;

:root
  :where(a.wp-block-navigation-item__content:where(:not(.wp-element-button))),
:root
  :where(
    a.wp-block-navigation-item__content:where(:not(.wp-element-button)):hover
  ) {
  border: none;
}
html {
  button.wp-block-navigation__responsive-container-open {
    svg {
      rect {
        @include transition;
        &:first-child {
          transform: rotate(0deg);
          transform-origin: center;
          x: 4px;
          y: 7.5px;
        }
        &:last-child {
          transform: rotate(0deg);
          transform-origin: center;
          x: 4px;
          y: 15px;
        }
      }
    }
  }
  &.has-modal-open {
    button.wp-block-navigation__responsive-container-open {
      svg {
        rect {
          @include transition;
          &:first-child {
            transform: rotate(40deg);
            transform-origin: center;
            x: 4px;
            y: 11px;
          }
          &:last-child {
            transform: rotate(-40deg);
            transform-origin: center;
            x: 4px;
            y: 11px;
          }
        }
      }
    }
  }
}
header {
  position: fixed;
  top: 1.5rem;
  width: 100%;
  z-index: 10;
  .wp-block-site-logo a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
  .wp-block-navigation-item__content {
    line-height: 54px;
  }
  li:not(.menu-dropdown-show) {
    a {
      span {
        position: relative;
        &::after {
          @include transition;
          border-bottom: solid var(--wp--preset--color--deep-yellow) 1.5px;
          bottom: -2px;
          content: "";
          display: block;
          position: absolute;
          width: 0;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .menu-dropdown-show {
    padding-right: 1.5rem !important;
    &::after {
      @include transition;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5' fill='none'%3E%3Cpath d='M0 0L10 0L5 5L0 0Z' fill='%23F5B71A'/%3E%3C/svg%3E");
      height: 5px;
      position: absolute;
      right: 7px;
      width: 10px;
    }
    &.active::after {
      transform: rotate(-180deg);
    }
  }
  .menu-dropdown {
    align-items: end;
    grid-template-rows: 0fr !important;
    overflow: hidden;
    transition: grid-template-rows ease-in-out 0.25s;
    &-content {
      grid-template-columns: 33.33% 1fr;
      height: auto;
      overflow: hidden;
    }
    &.shown {
      border-top: 1px solid var(--wp--preset--color--light-grey) solid;
      grid-template-rows: 1fr !important;
    }
  }

  @media (max-width: 800px) {
    .menu {
      > div:first-child {
        align-items: center;
        flex-direction: row;
        padding-right: clamp(1rem, 0.643rem + 0.952vw, 1.5rem) !important;
        padding-left: clamp(1rem, 0.643rem + 0.952vw, 1.5rem) !important;
        nav {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .menu-dropdown {
        display: none;
      }
    }
    // 1.5rem + 39px
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
      display: block !important;
    }
    nav {
      position: relative;
    }
    .wp-block-navigation:not(.has-background)
      .wp-block-navigation__responsive-container.is-menu-open {
      background-color: var(--wp--preset--color--black-50);
      box-sizing: border-box;

      height: calc(100dvh - 54px);
      left: calc(-100vw + clamp(1rem, 0.643rem + 0.952vw, 1.5rem) * 2.5);
      padding-top: 1rem;
      padding-right: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
      padding-left: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
      position: absolute;
      top: 54px;
      width: 100vw;
      .wp-block-navigation__responsive-container-content {
        padding-top: 0;
        ul {
          gap: 0;
          li {
            padding-right: 0 !important;
            a {
            }
            &::after {
              content: none;
            }
          }
        }
      }
    }
    .wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close {
      display: none;
    }
    .wp-block-navigation__responsive-container {
      display: none !important;
      &.is-menu-open {
        display: flex !important;
      }
    }
  }
}
