.single-machines {
  .single-machine {
    &-status {
      display: inline-block;
    }
    &-columns {
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }
    &-column {
      @media (max-width: 1200px) {
        border-bottom: solid 1px var(--wp--preset--color--light-grey);
        &.first {
          border-right: none !important;
          margin-bottom: 1.5rem;
          padding-top: 7.5rem !important;
        }
        &.last {
          padding-top: 0 !important;
        }
        .wp-block-columns .wp-block-column .wp-block-group .wp-block-group {
          flex-direction: row;
        }
      }
    }
  }
  footer {
    margin-block-start: 0 !important;
  }
  .featherlight {
    &-next,
    &-previous {
      background: none !important;
      top: 0;
      span {
        background: #ccc;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' width='40' height='40' focusable='false'%3E%3Cpath d='m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z'%3E%3C/path%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: inline-block;
        font-size: unset;
        height: 50px;
        margin-top: 0;
        opacity: 0.5;
        width: 50px;
        > img {
          display: none !important;
          visibility: hidden !important;
        }
        &:hover {
          opacity: 1;
        }
      }
      &:hover span {
        opacity: 1;
      }
    }
    &-previous span {
      transform: rotate(180deg);
    }
  }
}
