@use "mixins" as *;

.machine-card {
  &:hover {
    cursor: pointer;
  }
  .suffix {
    margin-left: 0 !important;
  }
  &-image {
    position: relative;
  }
  &-label {
    background-color: var(--wp--preset--color--light-yellow);
    left: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    position: absolute;
    top: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
  }
  &-button {
    background-color: var(--wp--preset--color--dark-grey);
    border: none;
    box-sizing: border-box;
    color: var(--wp--preset--color--white);
    align-items: center;
    column-gap: 1rem;
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    &::after {
      @include transition;
      background-color: var(--wp--preset--color--white);
      background-position: 8px center;
      background-repeat: no-repeat;
      background-size: 5px 10px;
      border-color: var(--wp--preset--color--white);
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      box-shadow: inset 0 0 0 7px var(--wp--preset--color--dark-grey);
      content: "";
      display: inline-block;
      height: 20px;
      width: 20px;
    }
    .machine-card:has(:hover) &,
    &:hover {
      cursor: pointer;
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='10' viewBox='0 0 5 10' fill='none'%3E%3Cpath d='M0 10V0L5 5L0 10Z' fill='%235E5E5D'/%3E%3C/svg%3E");
        box-shadow: inset 0 0 0 0 var(--wp--preset--color--dark-grey);
      }
    }
  }
}
