@use "mixins" as *;

.machine-card {
  &:hover {
    cursor: pointer;
  }
  .suffix {
    margin-left: 0 !important;
  }
  &-image {
    position: relative;
  }
  &-label {
    background-color: var(--wp--preset--color--light-yellow);
    left: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    position: absolute;
    top: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
  }
  &-button {
    @include archiveReadMoreButton;    
  }
}
