.single-machines {
  .single-machine {
    &-status {
      display: inline-block;
    }
    &-columns {
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }
    &-column {
      @media (max-width: 1200px) {
        border-bottom: solid 1px var(--wp--preset--color--light-grey);
        &.first {
          border-right: none !important;
          margin-bottom: 1.5rem;
          padding-top: 7.5rem !important;
        }
        &.last {
          padding-top: 0 !important;
        }
        .wp-block-columns .wp-block-column .wp-block-group .wp-block-group {
          flex-direction: row;
        }
      }
    }
  }
  footer {
    margin-block-start: 0 !important;
  }
}