@media (max-width: 1400px) {
  .cta-card {
    margin-left: var(--wp--preset--spacing--24) !important;
    margin-right: var(--wp--preset--spacing--24) !important;
  }
}
@media (max-width: 1201px) {
  .contact-special-grid {
    grid-template-columns: 1fr;
    &-3-columns {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      .wp-block-group {
        &:nth-child(2) {
          border-right: none !important;
          border-bottom: solid 1px var(--wp--preset--color--light-grey);
        }
        &:nth-child(3) {
          border-top: solid 1px var(--wp--preset--color--light-grey);
          border-right: solid 1px var(--wp--preset--color--light-grey);
        }
      }
    }
  }
}
@media (max-width: 781px) {
  .contact-special-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    &-3-columns {
      grid-template-columns: 1fr;
      .wp-block-group {
        border: none !important;
        padding-top: var(--wp--preset--spacing--12) !important;
        padding-bottom: var(--wp--preset--spacing--12) !important;
      }
    }
  }
  .hide-mobile {
    display: none !important;
  }
  .row-mobile {
    flex-direction: row !important;
  }
  .no-margin-bottom-mobile {
    margin-bottom: 0 !important;
  }
  .wp-block-group,
  .wp-block-column,
  .wp-block-columns {
    border: none;
  }
  .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
    grid-template-columns: 1fr;
  }
  .wp-block-column {
    &:has(+ .wp-block-column) {
      padding-bottom: var(--wp--preset--spacing--12) !important;
    }
    & + .wp-block-column {
      padding-top: var(--wp--preset--spacing--12) !important;
    }
  }
  .mobile-justify-left {
    justify-content: flex-start;
  }
  .cta-card {
    column-gap: 1rem !important;
    > .wp-block-column {
      flex-basis: unset !important;
      flex-grow: unset !important;
      flex-shrink: unset !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      &:has(.wp-block-button) {
        align-content: center;
      }
      &:not(:has(.wp-block-button)) {
        flex-basis: 0 !important;
        flex-grow: 1 !important;
      }
    }
  }
}
@media (max-width: 600px) {
  .contact-special-grid {
    grid-template-columns: 1fr;
  }
  .stack-on-mobile {
    &-worldwide {
      grid-template-columns: 1fr;
      .wp-block-group {
        text-align: center;
        h2,
        p {
          margin-left: auto !important;
        }
      }
    }
  }
  .cta-card {
    flex-direction: column !important;
    row-gap: 1.5rem;
    > .wp-block-column {
      &:has(.wp-block-button) {
        .wp-block-button {
          width: 100%;
        }
      }
    }
  }
}
