@use "mixins" as *;

.press_releases {
  nav {
    &.wp-block-query-pagination {
      display: inline-flex;
      gap: 0;
      &:not(:has(.wp-block-query-pagination-previous))::before,
      &:not(:has(.wp-block-query-pagination-next))::after {
        content: "";
        background-color: var(--wp--preset--color--dark-grey);
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        display: inline-block;
        height: 2.5rem;
        margin-inline-start: auto;
        opacity: 0.35;
        padding: var(--wp--preset--spacing--8);
        width: 2.5rem;
      }
      &:not(:has(.wp-block-query-pagination-previous))::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2720%27 viewBox=%270 0 12 20%27 fill=%27none%27%3E%3Cpath d=%27M9.65375 19.3075L0 9.65375L9.65375 0L11.073 1.41925L2.83825 9.65375L11.073 17.8883L9.65375 19.3075Z%27 fill=%27white%27/%3E%3C/svg%3E");
        margin-right: var(--wp--preset--spacing--30);
      }
      &:not(:has(.wp-block-query-pagination-next))::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2720%27 viewBox=%270 0 12 20%27 fill=%27none%27%3E%3Cpath d=%27M1.41925 19.3075L0 17.8883L8.2345 9.65375L0 1.41925L1.41925 0L11.073 9.65375L1.41925 19.3075Z%27 fill=%27white%27/%3E%3C/svg%3E");
        margin-left: var(--wp--preset--spacing--30);
      }
      .wp-block-query-pagination {
        &-next,
        &-previous {
          background-color: var(--wp--preset--color--dark-grey);
          box-sizing: border-box;
          background-position: center;
          background-repeat: no-repeat;
          border: none;
          height: 2.5rem;
          padding: var(--wp--preset--spacing--8);
          width: 2.5rem;
          span {
            display: none;
          }
        }
        &-next {
          background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2720%27 viewBox=%270 0 12 20%27 fill=%27none%27%3E%3Cpath d=%27M1.41925 19.3075L0 17.8883L8.2345 9.65375L0 1.41925L1.41925 0L11.073 9.65375L1.41925 19.3075Z%27 fill=%27white%27/%3E%3C/svg%3E");
          margin-left: var(--wp--preset--spacing--30);
        }
        &-previous {
          background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2720%27 viewBox=%270 0 12 20%27 fill=%27none%27%3E%3Cpath d=%27M9.65375 19.3075L0 9.65375L9.65375 0L11.073 1.41925L2.83825 9.65375L11.073 17.8883L9.65375 19.3075Z%27 fill=%27white%27/%3E%3C/svg%3E");
          margin-right: var(--wp--preset--spacing--30);
        }
        &-numbers {
          display: contents;
          .page-numbers {
            border-top: 0;
            border-right: 0;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-left: 0;
            color: var(--wp--preset--color--black);
            display: inline-block;
            font-size: var(--wp--preset--font-size--paragraph-large);
            height: 1.5rem;
            margin-right: var(--wp--preset--spacing--6);
            margin-left: var(--wp--preset--spacing--6);
            padding: 0;
            background-color: transparent;
            &.current {
              border-bottom-color: var(--wp--preset--color--orange);
            }
          }
        }
      }
    }
  }
  .wp-block-post-excerpt__more-link {
    @include archiveReadMoreButton;
  }
  .wp-block-group:has(.wp-block-post-featured-image) {
    display: flex;
    flex-direction: column;
    .wp-block-post-featured-image {
      + .wp-block-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        .wp-block-post-excerpt {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;
          width: 100%;
          &__excerpt {
            margin-top: 0;
          }
          &__more-text {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

.machine-results-paging {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: var(--wp--preset--spacing--48);
  margin-right: auto;
  margin-bottom: var(--wp--preset--spacing--112);
  margin-left: auto;
  max-width: var(--wp--style--global--content-size);
  button {
    &.mixitup-control {
      border-top: 0;
      border-right: 0;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-left: 0;
      color: var(--wp--preset--color--black);
      font-size: var(--wp--preset--font-size--paragraph-large);
      margin-right: var(--wp--preset--spacing--6);
      margin-left: var(--wp--preset--spacing--6);
      padding: 0;
      background-color: transparent;
      &.mixitup-control-active {
        border-bottom-color: var(--wp--preset--color--orange);
      }
      height: 1.5rem;
      &-prev,
      &-next {
        &:not(.mixitup-control-disabled) {
          background-color: var(--wp--preset--color--dark-grey);
          &:hover {
            background-color: var(--wp--preset--color--black-50);
          }
        }
        background-color: var(--wp--preset--color--light-grey);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        color: transparent;
        height: 2.5rem;
        padding: var(--wp--preset--spacing--8);
        width: 2.5rem;
      }
      &-prev {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='20' viewBox='0 0 12 20' fill='none'%3E%3Cpath d='M9.65375 19.3075L0 9.65375L9.65375 0L11.073 1.41925L2.83825 9.65375L11.073 17.8883L9.65375 19.3075Z' fill='white'/%3E%3C/svg%3E");
        margin-right: var(--wp--preset--spacing--30);
      }
      &-next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='20' viewBox='0 0 12 20' fill='none'%3E%3Cpath d='M1.41925 19.3075L0 17.8883L8.2345 9.65375L0 1.41925L1.41925 0L11.073 9.65375L1.41925 19.3075Z' fill='white'/%3E%3C/svg%3E");
        margin-left: var(--wp--preset--spacing--30);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
